matrix:
- name: Markdown
  aspell:
    lang: en
    d: en_GB
  dictionary:
    wordlists:
    - .github/workflows/config/wordlist.txt
    encoding: utf-8
  pipeline:
  - pyspelling.filters.markdown:
  - pyspelling.filters.html:
      comments: false
      ignores:
      - code
      - pre
  sources:
  - '**/*.md'
  default_encoding: utf-8

- name: Python
  aspell:
    lang: en
    d: en_GB
  dictionary:
    wordlists:
    - .github/workflows/config/wordlist.txt
    encoding: utf-8
  pipeline:
  - pyspelling.filters.url:
  - pyspelling.filters.python:
      docstrings: true
      comments: true
      strings: false
      group_comments: true
  sources:
  - '**/*.py'
  default_encoding: utf-8
